

.padding {
  padding: 78px;
}

.textbox {
  text-align: center;
  font-size: 3rem;
}

.cardheader {
  max-width: 20rem;
  display: inline-block;
}

.card-deck {
  display: flex;
  flex-direction:row;

}

.profile-pic {
  max-width: 40rem;
}

.footer {
 max-height: 30rem;
}


