

.padding {
  padding: 78px;
}

.textbox {
  text-align: center;
  font-size: 3rem;
}

.cardHeader {
  max-width: 20rem;
  display: flex;
}

.card-deck {
  display: flex;
  flex-direction:row;

}

.profile-pic {
  padding: 1rem;
}

.footer {
 max-height: 30rem;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}


